~/Documents/coding/Python/Shiritori_game.py
~/Documents/coding/Python/__pycache__
~/Documents/coding/Python/chromedriver.exe
~/Documents/coding/Python/daten.csv
~/Documents/coding/Python/debugg.py
~/Documents/coding/Python/edabit.py
~/Documents/coding/Python/hangman.py
~/Documents/coding/Python/login.py
~/Documents/coding/Python/morsen.py
~/Documents/coding/Python/morsen.txt
~/Documents/coding/Python/rechnen.py
~/Documents/coding/Python/regex.pytest.py
~/Documents/coding/Python/testing_git
~/Documents/coding/Python/twee.py
~/Documents/coding/Python/verschlüsselung.py
~/Documents/coding/Python/wordlist.txt