Shiritori_game.py
__pycache__/
chromedriver.exe/
daten.csv
debugg.py
edabit.py
hangman.py
login.py
morsen.py
morsen.txt
rechnen.py
regex.pytest.py
testing_git/
twee.py
"verschl\303\274sselung.py"
wordlist.txt